{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS Files-->
        <link rel="stylesheet" type="text/css" href="{% static 'mainapp/bootstrapScripts/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'mainapp/styles.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Lato|Playfair+Display&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/1f06dfeacc.js" crossorigin="anonymous"></script>

        
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Story 6</title>
        {% endif %}
    </head>
        {% block content %}
        {% endblock %}
        <!-- JS  -->
        <script src="{% static 'mainapp/scripts/jquery-3.4.1.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="{% static 'mainapp/bootstrapScripts/js/bootstrap.min.js' %}"></script>
        <!-- Scroll animation -->
        <script>
            $(document).ready(function(){
              // Add smooth scrolling to all links
              $("a").on('click', function(event) {
            
                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                  // Prevent default anchor click behavior
                  event.preventDefault();
            
                  // Store hash
                  var hash = this.hash;
            
                  // Using jQuery's animate() method to add smooth page scroll
                  // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                  $('html, body').animate({
                    scrollTop: $(hash).offset().top
                  }, 800, function(){
            
                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                  });
                } // End if
              });
            });
        </script>
    </body>
</html>