{% extends 'mainapp/base.html' %}
{% block content %}
{% load static %}
<body>
    <div class="vertical-center">
        <div class="container" style="margin-top: -30px;">
            <div style="text-align: center; align-items: center;">
                <div style="font-family: 'Playfair Display'; font-size: 50px; font-weight:400;">
                    Hello, how are you?
                </div>
                <div class="container" style="font-family:'Lato';font-size: 18px; text-align: center;max-width: 300px;">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input name="name" type="text" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Enter name" maxlength="135">
                            <small id="nameHelp" class="form-text text-muted">You don't have to use your real name</small>
                        </div>
                        <div class="form-group">
                            <label for="inputStatus">Status</label>
                            <input name="status" type="text" class="form-control" id="inputStatus" placeholder="How are you feeling?" maxlength="230">
                        </div>
                        <button type="submit" class="btn btn-dark thingy">Submit</button>
                    </form>
                </div>
            </div>
            <div style="text-align: center; vertical-align: middle;margin-top: 50px;">
                <a href="#status-list" role="button">
                    <i style="color:black;" class="fas fa-angle-double-down fa-2x thingy"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="vertical-center"> 
        <div class="container" style="text-align: center; font-family: Playfair Display; font-size: 14px;">
            <span>Status Count: {{ count }}</span>
            <br>
            <br>
            <div id="status-list" class="container" style="text-align: center; overflow-y: scroll; max-height: 65vh; max-width: 310px; overflow-wrap: break-word;">
                <div style="font-family: 'Playfair Display'; font-size: 22px; font-weight:400; line-height: 22px;">
                    {% for s in status %}
                    <p>
                        <b>{{ s.name }}: </b>
                        <span style="font-size: 20px;font-family: Lato;">
                            {{ s.status }}
                        </span>
                        <br>
                        <span style="font-size: 12px; font-weight: 50; color: gray; font-family: Lato;">
                            {{ s.time }}
                        </span>
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <footer style="text-align: center; margin-top: -45px; font-family: Lato; font-size: 15px; font-weight: 200;">
        Ahmad Izzudin Alifyandra  © 2020
    </footer>
{% endblock content %}